@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

:root {
    --primary-color: #4D80BF
}

html, body {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(#F2F8FF, #C6D9F0);
    margin: 0;
    font-family: open sans;
}

.navbar {
    padding: 1em;
    padding-left: 2em;
}

a {
    font-size: 2em;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: #D2D7D3;

    span {
        color: var(--primary-color);
    }
}


.left-col {
    
    position: relative;
    left: 3em;
    top: 3em;

    ul.top {
        position: relative;
        color: #4D80BF;
        font-weight: 800;
        font-size: 4.5em;
        list-style-type: none;
        text-transform: uppercase;
        padding: 0;
        bottom: -1em;
        margin: 1em;
    }
    
    ul.bottom {
        color: #8A2B0D;
        font-size: 1.5em;
        list-style-type: none;
        text-transform: uppercase;
        padding-top: 5em;
        left: 1.5em;
        bottom: 2.5em;
        margin: 0;
    }
}


.right-col {
    
    position: relative;
    left: 65em;
    bottom: 35em;
}


.section-break {
    
    padding-right: 25em;
    width: 100vw;
}

.break {
    
    display: inline-block;
    position: relative;
    right: 10em;
    top: 2em;
}

.container-contact {
    
    padding-top: 2em;
    width: 100%;
    bottom: 40em;
    height: 40em;
}

h2 {
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: var(--primary-color);
    bottom: 11em;
}

.contact-left {
    position: relative;
    padding: 1em;
    padding-left: 25em;
    top: 2em
}

.form {
    height: 425px;
}
.contact-right {
    position: relative;
    padding-left: 60em;
    bottom: 17em;
}

label {
    font-size: 2em;
    color: var(--primary-color);
    text-transform: uppercase;
    }

.name {
    margin-top: 2.5em;
    margin-left: .5em;
}

input#name {
    margin-top: .5em;
    margin-left: .5em;
}

.email {
    margin-top: 2.5em;
    margin-left: .5em;
}

input#email {
    margin-top: .5em;
    margin-left: .5em;
}

.message {
    margin-bottom: -1em;
}


input, textarea {
    box-sizing: border-box;
}

input, text {
    width: 25em;
    height: 4em;
    border-radius: .5em;
    border: none;
}

textarea {
    
    height: 20em;
    width: 45em;
    border-radius: .5em;
    border: none;
    margin-top: 2em;
    resize: none;
}


.message-area {
    left: 55em;
    bottom: 11em;
}

input[type="submit"] {
    background-color: var(--primary-color);
    font-family: 700;
    color: white;
    border-radius: 5em;
    width: 10em;
    height: 2.5em;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.send-message-cta {
    
    font-family: open sans;
    font-weight: 700;
    position: relative;
    left: 27.5em;
    margin-top: .5em;
}

footer {
    margin-top: auto;
    background-color: var(--primary-color);
    text-align: center;
    color: #ffffff;
    height: 3em;
    .signoff {
        margin-left: auto;
        margin-right: auto;
        font-weight: 800;
    }
}


//*~~~~~~~~~~~~~~~~~~~ MOBILE  PAGE 428x1428 ~~~~~~~~~~~~~~~~~~~*//


@media only screen and (max-width: 553px) {

.navbar {
    position: relative;
    left: 2.5em;
    width: 50em;
    height: 5em;
    padding-top: 3em;

    a {
        text-align: center;
        font-size: 2em;
    }
}

.hero {
    margin-left: auto;
    margin-right: auto;
    height: 85em;
    width: 27em;
    
}

.right-col {
    position: relative;
    height: 25em;
    width: 24em;
    left: 1.5em;
    bottom: 20em;
}

.hero-img {
    width: 400px;
    height: 380px;
    
}

.left-col {
    height: 20em;
    margin: 0;
    width: 24em;
    left: 1.5em;
    top: 25em;
    text-align: center;

    ul.top {
        width: 10em;
        padding: 0;
        font-size: 2em;
        text-align: center;
    }
    
    ul.bottom {
        position: relative;
        bottom: -2em;
        left: 0em;
        font-size: 1.5em;
        padding: 1em;
        text-align: center;
    }

}


.section-break {
    overflow: hidden;
    position: relative;
    width: 45em;
    height: 25em;
    bottom: 40em;
    right: 35em;
}
    
.container-contact {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 30em;
    }

.form {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
}

    .contact-left {
        right: 22em;
        margin-left: auto;
        margin-right: auto;
    }

    .name {
        margin-left: 7.5em;
    }

    .email {
    margin-left: 7.5em;
    }

.contact-right {
    right: 56.5em;
    top: 5em;
    margin: 0;
}
 
.message {
    margin-left: 5.5em;
}

textarea {
    height: 10em;
    width: 25em;
}

.send-message-cta {
    left: .4em;
    margin-top: 2em;
}

input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

footer {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

}
//*~~~~~~~~~~~~~~~~~~~ TABLET PAGE 1024x1428 ~~~~~~~~~~~~~~~~~~~*//

@media only screen and (min-width: 554px) {

   .navbar {
    text-align: center;
    
    a{
        font-size: 5em;
    }
   }

   .hero {
    position: relative;
    text-align: left; 
    height: 45em;
   }

   .left-col {
    position: relative;
    margin-top: 5em;
    text-align: left;  

      ul.top {
        margin-left: 25px;
        font-size: 3em;
        right: 1em;
      }

      ul.bottom {
        position: relative;
        margin-left: -69px;
        padding-left: 0;
        font-size: 2em;
      }
   }
   
   .right-col {
    left: 17em;
   }

.hero-img {
    position: relative;
    left: 17em;
    top: 9em;
    width: 440px;
    height: 420px;
}

.section-break {
    position: relative;
    right: 27em;
    bottom: 5em;
}

.container-contact {
    position: relative;
    right: 0;
    bottom: 4em;
}

.contact-left {
    right: 19em;
}

.contact-right {
    right: 28em;
    bottom: 14.5em;
}

textarea {
    height: 14.6em;
    width: 29em;
}

input[type="submit"] {
    left: 14em;
}


.signoff {
    position: relative;
    top: 12px;
}
}

//*~~~~~~~~~~~~~~~~~~~ DESKTOP PAGE 1366x1428 ~~~~~~~~~~~~~~~~~~~*//

@media only screen and (min-width: 1340px) {

    .navbar {
        margin-top: 9px;
        
        a{
        position: relative;
            font-size: 40px;
            right: 11em;

        }
       }

.left-col {
    left: 9em;
}


    .hero-img {
        position: relative;
        left: 32em;
        top: 7em;
        width: 520px;
        height: 500px;
    }

.form {
    position: relative;
    left: 12em;
    bottom: 2em;
}

}

//*~~~~~~~~~~~~~~~~~~~ DESKTOP PAGE 2560px ~~~~~~~~~~~~~~~~~~~*//

@media only screen and (min-width: 1600px) {

.navbar a {
    right: 27em;
}

.hero {
    height: 75em;
    
.left-col {
    top: 2em;

    ul.top {
        font-size: 6em;
    }

    ul.bottom {
        left: 2px;
        font-size: 3em;
    }
}

    .right-col {

    .hero-img {
        top: -22em;
        left: 73em;
        width: 1000px;
        height: 980px;
    }
    }
}

.section-break {
    bottom: 21em;
    left: -12em;

    .break {
        width: 3376px;
        height: 563px;
    }
}

.container-contact {

    h2 {
        position: relative;
        font-size: 6em;
        bottom: 2em;
    }
}

.form {
    left: 30em;
    bottom: 12em;
}

label {
    font-size: 3em;
}

.message-area {
    position: relative;
    bottom: 9em;
    left: 11em;
}

textarea {
    height: 26.6em;
    width: 62em;
}

input, text {
    width: 27em;
    height: 5em;
}

input[type="submit"] {
    left: 43em;
    margin-top: 1em;
    bottom: 9em;
    width: 20em;
    height: 4em;
}


.signoff {
    position: relative;
    top: 12px;
}

}