@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

:root {
    --primary-color: #4D80BF
}

body {
    background-image: linear-gradient(#F2F8FF, #C6D9F0);
    margin: 0;
    font-family: open sans;
    overflow-x: hidden;
    height: auto;
}

.navbar {
    padding: 1em;
    padding-left: 2em;
}

a {
    font-size: 2em;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    color: #D2D7D3;

    span {
        color: var(--primary-color);
    }
}

.left-col {
    position: relative;
    width: 50%;
    margin: 0;
    padding: 0;
}

ul.top {
    position: relative;
    color: #4D80BF;
    font-weight: 800;
    font-size: 4.5em;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0;
    bottom: -1em;
    margin: 1em;
}

ul.bottom {
    color: #BEC9CB;
    font-size: 1.5em;
    list-style-type: none;
    text-transform: uppercase;
    padding-top: 5em;
    position: relative;
    left: 1em;
    bottom: 2.5em;
    margin: 0;
}



.right-col {
    position: relative;
    left: 55em;
    bottom: 40em;
    .hero-img {
        position: relative;
       }
}

.section-break {
    position: relative;
    bottom: 39.5em;
    right: 10em;
    width: 75%;
}

.break {
    position: relative;
}

.container-contact {
    height: auto;
}

h2 {
    text-align: center;
    font-size: 4em;
    text-transform: uppercase;
    color: var(--primary-color);
    position: relative;
    bottom: 10em;
}

form {
    position: relative;
    bottom: 35em;
}

.name {
    position: relative;
    left: 25em;
    top: 8em;
    padding-bottom: 1em;
}

label {
    display: flex;
    font-size: 2em;
    margin-bottom: .1em;
    color: var(--primary-color);
    text-transform: uppercase;
    }

label .message {
        position: relative;
        left: 2em;
    }
        
    

input {
        width: 15em;
        height: 3em;
        border-radius: 2em;
        border: none;
        bottom: 5em;
        margin-left: 10px;
    }
    
.email {
    margin-top: 2.5em;
}

input#email {
    margin-top: 1em;
    margin-left: .5em;
}

input, textarea {
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}



input, text {
    top: 10em;
    width: 25em;
    height: 4em;
    border-radius: 1em;
    border: none;
}

textarea {
    height: 20em;
    width: 45em;
    border-radius: 2em;
    border: none;
    margin-top: 2em;
}

.message-area {
    position: relative;
    left: 55em;
    bottom: 11em;
}

input[type="submit"] {
    background-color: var(--primary-color);
    font-family: 700;
    position: relative;
    color: white;
    border-radius: 5em;
    width: 10em;
    height: 2.5em;
    border: none;
    font-size: 1em;
    left: 82.5em;
    top: -10em;
    cursor: pointer;
}

.send-message-cta {
    font-family: open sans;
    font-weight: 700;
}