@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nabla&family=Press+Start+2P&family=Roboto+Slab:wght@400;700&display=swap');



:root {
  --primary-color: #4D80BF ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: #2D3033;
  font-family: open sans;
}

/* ////////////////////////////// NAV START ////////////////////////////////// */


.navbar {
  margin-top: 2em;
  text-align: center;
  display: grid;
  place-items: center;
}

.logo {
  padding: 0 6px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: #D2D7D3;
  font-size: clamp(2.5em,3.5vw,3em);
}

.logo:visited {
  color: #D2D7D3;
}

.logo span {
  color: var(--primary-color);
}

/* ////////////////////////////// HERO START ////////////////////////////////// */

.hero {
  max-height: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 900px));
  max-width: 100vw;
  place-items: center;
  justify-content: center;
  height: 100vh;
}

.left-col {
  max-width: 100%;
  padding: 2em 5em;
}

ul {
  list-style-type: none;
}

li {
  margin: 20px 0;
}

.top {
  font-size: clamp(35px, 2.5vw ,3em);
  color: var(--primary-color);
  font-weight: 800;
  text-transform: uppercase;
  max-width: 100vw;
  text-align: center;
}

.front-end {
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 5px;

}

.graphic-designer {
  font-family: 'Nabla', cursive;
  letter-spacing: 2px;
}

.problem {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 10px;
  line-height: 50px;
}


.solve {;
  color: #D2D7D3;
}

.hero-img {
  max-width: 100vw;
  animation: rotate 115s infinite;
  transform-origin: 50% 50%;
   transform-box: fill-box;
}

@keyframes rotate{
  from{
     transform: rotate(0deg);}to{
     transform: rotate(360deg);
  }
}

img {
  width: clamp(500px, 650px, 1000px);
}


/* ////////////////////////////// CONTACT START ////////////////////////////////// */

.container-contact {
  padding: 0 2em;
  margin-top: 15em;
  display: flex;
  column-gap: 10em;
  justify-content: center;
  min-height: 60vh;
  min-width: 100%;
  font-family: 'Roboto Slab', serif;
  color: var(--primary-color);
}

.info {
  font-size: clamp(.1px, -0.875rem + 8.333vw, 1.2em);
  padding: 35px 25px;
  text-align: center;
  border: solid 1px #F1CA21;
  height: clamp(100px, 50vw, 250px);
  width: clamp(250px,60vw,350px);
  border-radius: 25px;
  box-shadow: 0 0 .1rem #fff,
            0 0 .2rem #fff,
            0 0 1rem #F1CA21,
            0 0 .8rem #F1CA21,
            0 0 .8rem #FF7029,
            inset 0 0 .5rem #F1CA21;
            animation: pulsate 1.5s infinite alternate;
}


h2 {
  /* font-size: 3em; */
  line-height: 2em;
}


.fa-brands {
  font-size: clamp(1px, -0.875rem + 8.333vw, 1.5em);

 margin: 10px;
 padding-top: 10px;
 text-align: left;
 color: #D2D7D3;
}

.fa-brands:hover {
  color: var(--primary-color);
}

a:visited {
  text-decoration: none;
  color: var(--primary-color);
}




form {
  margin-top: 1.8em;
}

label {
  font-size: 25px;
}

input {
  margin-top: 10px;
}

textarea {
  margin-top: 10px;
}

#name, #email {
  margin-bottom: 20px;
  width: 300px;
  height: 35px;
  outline: none;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

#message {
  outline: none;
  resize: none;
  height: 150px;
  width: 300px;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

.send-message-cta {
  margin-top: 20px;
  padding: 10px;
  height: 36px;
  width: 120px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all .5s;
  color:#D2D7D3
}

.send-message-cta:hover {
  animation: ease-in-out;
  background-color: #D2D7D3 ;
  color:var(--primary-color);
  width: 300px;
}


/* ////////////////////////////// FOOTER START ////////////////////////////////// */


footer {
  min-width: 100%;
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #D2D7D3 ;
  background-color: var(--primary-color);
}

.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  height: 65px;
  padding-bottom: 20px;
}

.foot-container 
  .fa-brands:hover {
  color: #F1CA21;
}


/* ////////////////////////////////////MEDIA BREAK /////////////////////////////////////////*/


@media screen and (max-width: 842px) {


.info {
  margin: 0 auto;
}



  .container-contact {
    margin-bottom: 5em;
    position: relative;
    display: block;
    min-width: 100%;
    text-align: center;
    padding: 0;
  }

  h2 {
    text-align: center;
  }

  .send-message-cta {
    margin-bottom: 5em;
  }
}

@keyframes pulsate {
    
  100% {

      box-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #F1CA21,
      0 0 80px #F1CA21,
      0 0 90px #FF7029,
      0 0 100px #F1CA21,
      0 0 150px #F1CA21;
  
  }
  
  0% {

    box-shadow:
    0 0 2px #fff,
    0 0 4px #fff,
    0 0 6px #fff,
    0 0 10px #F1CA21,
    0 0 45px #FF7029,
    0 0 55px #F1CA21,
    0 0 70px #F1CA21,
    0 0 80px #F1CA21;
}