@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nabla&family=Press+Start+2P&family=Roboto+Slab:wght@400;700&display=swap');



:root {
  --primary-color: #4D80BF ;
}

* {
    /* border:2px solid #000; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

body {
  background-color: #2D3033
  ;
  /* background-image: linear-gradient(#F2F8FF, #C6D9F0); */
  font-family: open sans;
}

/* ////////////////////////////// NAV START ////////////////////////////////// */


.navbar {
  margin-top: 2em;
  text-align: center;
  display: grid;
  place-items: center;
}

.logo {
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: #D2D7D3;
  font-size: clamp(2.5em,3.5vw,3em);
}

.logo:visited {
  color: #D2D7D3;
}

.logo span {
  color: var(--primary-color);
}

/* ////////////////////////////// HERO START ////////////////////////////////// */

.hero {
  margin-top: 6em;
  max-height: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 900px));
  max-width: 100vw;
  place-items: center;
  justify-content: center;
  height: 100vh;
}

.left-col {
  max-width: 100%;
  padding: 2em 5em;
}

ul {
  list-style-type: none;
}

li {
  margin: 20px 0;
}

.top {
  font-size: clamp(25px, 2.5vw ,3em);
  color: var(--primary-color);
  font-weight: 800;
  text-transform: uppercase;
  max-width: 100vw;
}

.front-end {
  font-family: 'Press Start 2P', cursive;
}

.graphic-designer {
  font-family: 'Nabla', cursive;
}

.problem {
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: 10px;
}

.hero-img {
  max-width: 100vw;
  animation: rotate 115s infinite;
  transform-origin: 50% 50%;
   transform-box: fill-box;
}

@keyframes rotate{
  from{
     transform: rotate(0deg);}to{
     transform: rotate(360deg);
  }
}

img {
  width: clamp(500px, 850px, 1000px);
}


/* ////////////////////////////// BREAK START ////////////////////////////////// */


.break-svg {
  max-width: 100%;
}

.break {
  position: relative;
  right: 25em;
  width: clamp(4000px,100%,5000px) ;
}

/* ////////////////////////////// CONTACT START ////////////////////////////////// */

.container-contact {
  padding: 0 2em;
  margin-top: 15em;
  display: flex;
  column-gap: 10em;
  justify-content: center;
  min-height: 60vh;
  min-width: 100%;
  font-family: 'Roboto Slab', serif;
  color: var(--primary-color);
}

h2 {
  font-size: 2em;
  text-align: center;
  font-size: 3em;
  text-align: left;
  line-height: 2em;
}

.fa-brands {
 font-size: 30px;
 margin: 10px;
 padding-top: 10px;
 text-align: left;
}

a:visited {
  text-decoration: none;
  color: var(--primary-color);
}

form {
  margin-top: 1.8em;
}

label {
  font-size: 25px;
}

input {
  margin-top: 10px;
}

textarea {
  margin-top: 10px;
}

#name, #email {
  margin-bottom: 20px;
  width: 300px;
  height: 35px;
  outline: none;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

#message {
  outline: none;
  resize: none;
  height: 150px;
  width: 300px;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

.send-message-cta {
  margin-top: 20px;
  padding: 10px;
  height: 36px;
  width: 120px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  background-color: var(--primary-color);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all .5s;
  color:#D2D7D3
}

.send-message-cta:hover {
  animation: ease-in-out;
  background-color: #D2D7D3 ;
  color:var(--primary-color);
  width: 300px;
}


/* ////////////////////////////// FOOTER START ////////////////////////////////// */


footer {
  min-width: 100%;
  height: 65px;
  text-align: center;
  padding-top: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #D2D7D3 ;
  background-color: var(--primary-color);
}


@media screen and (max-width: 1794px) {
  .top {
    text-align: center;
  }
  
  
}


@media screen and (max-width: 840px) {
  .hero {
  }
}

@media screen and (max-width: 690px) {
  .container-contact {
    position: relative;
    display: block;
    margin: auto;
    min-width: 100%;
    text-align: center;
    padding: 0;
  }

  h2 {
    text-align: center;
  }

  .send-message-cta {
    margin-bottom: 5em;
  }
}