@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nabla&family=Press+Start+2P&family=Roboto+Slab:wght@400;700&display=swap');



:root {
  --primary-color: #4D80BF ;
}

* {
    /* border:2px solid #000; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(#F2F8FF, #C6D9F0);
  font-family: open sans;
}

/* ////////////////////////////// NAV START ////////////////////////////////// */


.navbar {
  margin-top: 2em;
  text-align: center;
  display: grid;
  place-items: center;
}

a {
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: #D2D7D3;
  font-size: clamp(2.5em,3.5vw,3em);
}
a span {
  color: var(--primary-color);
}

/* ////////////////////////////// HERO START ////////////////////////////////// */

.hero {
  max-height: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 900px));
  max-width: 100vw;
  place-items: center;
  justify-content: center;
}

.left-col {
  max-width: 100%;
  padding: 2em 5em;
}

ul {
  list-style-type: none;
}

li {
  margin: 20px 0;
}

.top {
  font-size: clamp(25px, 2.5vw ,3em);
  color: var(--primary-color);
  font-weight: 800;
  text-transform: uppercase;
  max-width: 100vw;
}

.front-end {
  font-family: 'Press Start 2P', cursive;
}

.graphic-designer {
  font-family: 'Nabla', cursive;
}

.problem {
  font-family: 'Alfa Slab One', cursive;
}

.hero-img {
  max-width: 100vw;
  animation: rotate 115s infinite;
  transform-origin: 50% 50%;
   transform-box: fill-box;
}

@keyframes rotate{
  from{
     transform: rotate(0deg);}to{
     transform: rotate(360deg);
  }
}

img {
  width: clamp(500px, 850px, 1000px);
}


/* ////////////////////////////// BREAK START ////////////////////////////////// */


.break-svg {
  max-width: 100%;
}

.break {
  position: relative;
  right: 25em;
  width: clamp(4000px,100%,5000px) ;
}

/* ////////////////////////////// CONTACT START ////////////////////////////////// */

.container-contact {
  display: flex;
  column-gap: 2em;
  justify-content: center;
  height: 675px;
  width: 100vw;
  font-family: 'Roboto Slab', serif;
}

#name, #email {
  font-weight: 00;
  width: 200px;
  height: 35px;
}

h2 {
  font-size: 2em;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}


/* ////////////////////////////// FOOTER START ////////////////////////////////// */

footer {
  background-color: var(--primary-color);
  color: #ffffff;
  height: 3em;
}
footer .signoff {
  display: flex;
  justify-content: center;
  font-weight: 800;
}

@media screen and (max-width: 1794px) {
  .top {
    text-align: center;
  }
  
  
}


@media screen and (max-width: 840px) {
  .hero {
  }
}